{% extends 'base.html.twig' %}

{% set banner = false %}

{% block body %}

	<div class="container my-6 px-4 xl:px-0 max-w-3xl mx-auto rounded-lg shadow-sm">
		<h1 class="text-2xl font-bold tracking-tight text-white mb-6">{{ "Hello #{app.user.username}!" }}</h1>

		<div
			class="space-y-4 md:space-y-6">

			<!-- Alerts -->
			{%- for flashSuccess in app.flashes('success') -%}
				<div class="flex p-4 text-sm text-green-400 rounded-lg bg-gray-800" role="alert">
					<svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path>
					</svg>
					<span class="sr-only">Info</span>
					<div>
						<span class="font-medium">{{ flashSuccess }}</span>
					</div>
				</div>
			{%- endfor -%}
			{%- for flashError in app.flashes('error') -%}
				<div class="flex p-4 text-sm text-red-400 rounded-lg bg-gray-800" role="alert">
					<svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path>
					</svg>
					<span class="sr-only">Info</span>
					<div>
						<span class="font-medium">{{ flashError }}</span>
					</div>
				</div>
			{%- endfor -%}

			<!-- Account Information -->
			{{ form_start(form_account, {'attr': {'class': 'p-4 border rounded-lg border-gray-600 bg-gray-800'}}) }}
			<div class="flex items-center">
				<svg aria-hidden="true" class="w-5 h-5 mr-2 text-gray-300" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path>
				</svg>
				<span class="sr-only">Info</span>
				<h2 class="text-lg font-medium text-gray-300">Account Information</h2>
			</div>
			<div class="mt-2 text-sm text-gray-300">
				<p>
					Your account was created
					<time datetime="{{ 'now' }}">{{ 'now' | date("F jS, Y \\a\\t g:ia") ~ ' (UTC)' }}</time>.
				</p>
				<div class="my-4 grid sm:grid-cols-2 mt-6 grid-col-auto gap-4 items-end">
					{%~ include 'components/_input.html.twig' with {'field': form_account.username, 'label': 'Your Username', 'type': 'text'} %}
					{%~ include 'components/_input.html.twig' with {'field': form_account.email, 'label': 'Your Email', 'type': 'email'} %}
				</div>
				<div class="flex justify-end">
					<button type="submit" class="border border-gray-700 font-medium rounded-lg text-xs px-3 py-1.5 text-center border-gray-600 hover:bg-gray-600 focus:ring-gray-800 text-gray-300 hover:text-white">
						Confirm
					</button>
				</div>
			</div>
			{{ form_end(form_account) }}

			<!-- Password Information -->
			{{ form_start(form_password, {'attr': {'class': 'p-4 border rounded-lg border-gray-600 bg-gray-800'}}) }}
			<div class="flex items-center">
				<svg aria-hidden="true" class="w-5 h-5 mr-2 text-gray-300" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path>
				</svg>
				<span class="sr-only">Info</span>
				<h2 class="text-lg font-medium text-gray-300">Password Information</h2>
			</div>
			<div class="mt-2 mb-4 text-sm text-gray-300">
				<p>
					Your password was last updated
					<time datetime="now">{{ 'now' | date("F jS, Y \\a\\t g:ia") ~ ' (UTC)' }}</time>.
				</p>
				<div class="my-4 grid sm:grid-cols-2 mt-6 grid-col-auto gap-4 items-end">
					{% if form_password.oldPassword is defined %}
						{%~ include 'components/_input.html.twig' with {'field': form_password.oldPassword, 'label': 'Current Password', 'type': 'password'} %}
					{% endif %}
					{%~ include 'components/_input.html.twig' with {'field': form_password.newPassword.first, 'label': 'New Password', 'type': 'password'} %}
					{%~ include 'components/_input.html.twig' with {'field': form_password.newPassword.second, 'label': 'Confirm Password', 'type': 'password'} %}
				</div>
			</div>
			<div class="flex justify-end">
				<button type="submit" class="border border-gray-700 font-medium rounded-lg text-xs px-3 py-1.5 text-center border-gray-600 hover:bg-gray-600 focus:ring-gray-800 text-gray-300 hover:text-white">
					Confirm
				</button>
			</div>
			{{ form_end(form_password) }}

			<!-- Danger Zone -->
			<div class="p-4 mb-4 border border-red-800 rounded-lg bg-gray-800 text-red-400 border-red-800">
				<div class="flex items-center">
					<svg aria-hidden="true" class="w-5 h-5 mr-2" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path>
					</svg>
					<span class="sr-only">Info</span>
					<h2 class="text-lg font-medium">Danger Zone</h2>
				</div>
				<div class="mt-2 mb-4 text-sm">
					<p>Deleting your account will:</p>
					<ul class="mt-1.5 ml-4 list-disc list-inside">
						<li>Delete your profile and all associated data</li>
						<li>Delete any all content you have, such as posts, comments, etc.</li>
						<li>Allow your username to become available to anyone</li>
					</ul>

					<!-- Modal -->
					<aside 
						id="delete-account-modal" 
						aria-hidden="{{ open_modal_delete_account ? 'false' : 'true' }}" 
						role="dialog" 
						aria-labelledby="title-{{ id ?? 'modal' }}" 
						class="fixed inset-0 z-50 {{ open_modal_delete_account ? '' : 'hidden' }} w-full p-4 overflow-x-hidden overflow-y-auto h-full bg-[rgba(0,0,0,0.5)]"
					>
						<div
							class="relative w-full max-w-md max-h-full m-auto overflow-x-hidden overflow-y-auto">
							<!-- Modal content -->
							<div class="relative rounded-lg shadow bg-gray-800 border border-red-800">
								<button type="button" data-modal-hide="{{ id ?? 'modal' }}" class="absolute top-3 right-2.5 text-gray-400 bg-transparent rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center hover:bg-gray-600 hover:text-white">
									<svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 14 14">
										<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
									</svg>
									<span class="sr-only">Close modal</span>
								</button>
								<div class="px-6 py-6 lg:px-8">
									<h3 id="title-{{ id ?? 'modal' }}" class="mb-4 text-xl font-medium text-white">Confirm Account Deletion</h3>
									<div class="text-white">
										<p class="mb-2 font-medium">Are you sure you want to delete your account? This action cannot be undone.</p>

										{{ form_start(form_delete_account, {'attr': {'class': 'space-y-4 md:space-y-6'}}) }}

										<!-- Password -->
										{%~ include 'components/_input.html.twig' with {'field': form_delete_account.oldPassword, 'label': 'Enter your password to confirm:', 'type': 'text'} %}

										<button type="submit" class="w-full text-white bg-red-600 hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Delete account</button>

										{{ form_end(form_delete_account) }}
									</div>
								</div>
							</div>
						</div>
					</aside>

				</div>
				<div class="flex justify-end">
					<button type="button" data-modal-target="delete-account-modal" class="border border-red-800 font-medium rounded-lg text-xs px-3 py-1.5 text-center hover:bg-red-600 border-red-600 text-red-500 hover:text-white focus:ring-red-800">
						Confirm
					</button>
				</div>
			</div>

		</div>

	</div>

{% endblock %}
