<!-- START: components/_card.html.twig -->
<div class="card divide-y divide-gray-700 rounded-lg border border-gray-600 shadow-md bg-gray-800 text-gray-400">
	<div style="background-image: url(https://t3.ftcdn.net/jpg/03/49/45/70/360_F_349457036_XWvovNpNk79ftVg4cIpBhJurdihVoJ2B.jpg)" class="py-6 bg-cover bg-center rounded-t-lg h-44">
		{% if tags | length > 0 -%}
		<div class="px-6 absolute">
		
			{% for tag in tags -%}
				{% include 'components/_tag.html.twig' with {'tag': tag} only %}
			{% endfor %}

		</div>
		{% endif %}

	</div>

	<div class="bg-gray-700">
		<div class="flex justify-end font-medium">

			<button class="flex items-center px-3 py-2 text-xs font-medium bg-gray-800 border-l border-gray-600 hover:text-white">
				<svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 {{ app.user in likes ? '' : 'hidden' }}" viewbox="0 0 20 20" fill="currentColor">
					<path d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z"/>
				</svg>
				<svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 {{ app.user in likes ? 'hidden' : '' }}" fill="none" viewbox="0 0 24 24" stroke="currentColor" stroke-width="2">
					<path stroke-linecap="round" stroke-linejoin="round" d="M14 10h4.764a2 2 0 011.789 2.894l-3.5 7A2 2 0 0115.263 21h-4.017c-.163 0-.326-.02-.485-.06L7 20m7-10V5a2 2 0 00-2-2h-.095c-.5 0-.905.405-.905.905 0 .714-.211 1.412-.608 2.006L7 11v9m7-10h-2M7 20H5a2 2 0 01-2-2v-6a2 2 0 012-2h2.5"/>
				</svg>
				<span class="ml-2">{{ likes | length }}</span>
			</button>

		</div>
	</div>

	<div class="p-6">
		<a href="#" class="font-bold text-base hover:text-white" title="{{ title }}">{{ title | u.truncate(60, '...') }}</a>
	</div>
</div>
<!-- END: components/_card.html.twig -->
