{%- if error %}
	{{ error.messageKey|trans(error.messageData, 'security') }}
{%- endif -%}

{%- for flashSuccess in app.flashes('success') -%}
	{{ flashSuccess }}
{%- endfor -%}

<form name="login" action="{{ path('app_login') }}" method="post">

	<label for="username">Email</label>
	<input type="text" id="username" name="_username" value="{{ last_username }}" required autofocus>
	<label for="password">Password</label>
	<input type="password" id="password" name="_password" required>

	<input type="hidden" name="_target_path" value="/profile">

	<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

	<button type="submit">Login</button>
</form>
